*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.cproject

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*build/*
# not sure about this:
*.not_sure/*
*.settings/*

# emacs and vim tmp files:
*~*
*.swp*

# data files -- very huge
*.bag
*.jpg
*.png

# todo things:
*todo/*

#time stamps
*stamps.txt
